tender/wsgi.py
tender/wsgi.stage.py
tender/conf/stage.py
tender/conf/dev.py
requirements/dev.txt
requirements/stage.txt
manage.py
manage.stage.py
.env
.newvenv
tender/dba.sqlite3
db.sqlite3
tender/conf/dev.py
