{% extends "dashboard/dashboard.html"%}

{% block content %}
<div class="col-md-12">		
        <div class="card my-3">
                <div class="card-header">Assigned Form for Users</div>
                <div class="card-body">
                    {% if success %} <!-- After successful submission, show this -->
                        <div class="alert alert-success">
                            Your assigned has been created successfully.
                            <a href="{% url 'listings:tenders' %}">Go to the Dashboard</a>
                        </div>
                    {% else %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="card-body">
                            <form action="{% url 'users:assign_group' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_username">Username:</label>
                                    <select class="form-control" id="id_username" name="username">
                                        {% for username in usernames %}
                                            {% comment %} {% if not username.is_superuser %} {% endcomment %}
                                                <option value="{{ username.id }}">{{ username.username }}</option>
                                            {% comment %} {% endif %} {% endcomment %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group my-3">
                                    <label class="my-2">Assigned Groups:</label>
                                    <div class="row mx-2">
                                        {% for group in allgroups %}
                                            <div class="form-check col-md-4 col-sm-6">
                                                <input class="form-check-input" type="checkbox" id="group{{ group.id }}" name="groups" value="{{ group.id }}">
                                                <label class="form-check-label" for="group{{ group.id }}">{{ group.name }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Register</button>
                                <a href="{% url 'listings:tenders' %}" class="btn btn-secondary">Cancel</a>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>       
        </div>
{% endblock %}
