<!doctype html>
{% load static %}
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        
        <!-- title of site -->
        <title>{% block title %} Tenders Application {% endblock %}</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'images/MT.png' %}"/>
		{% comment %} <link rel="stylesheet" href="{% static 'listings/css/bootstrap.min.css' %}"> {% endcomment %}
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static 'frontend/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
        <!--linear icon css-->
		<link rel="stylesheet" href="{% static 'frontend/css/linearicons.css' %}">

		<!--animate.css-->
        <link rel="stylesheet" href="{% static 'frontend/css/animate.css' %}">

		<!--flaticon.css-->
        <link rel="stylesheet" href="{% static 'frontend/css/flaticon.css' %}">

		<!--slick.css-->
        <link rel="stylesheet" href="{% static 'frontend/css/slick.css' %}">
		<link rel="stylesheet" href="{% static 'frontend/css/slick-theme.css' %}">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="{% static 'frontend/css/bootsnav.css' %}" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'frontend/css/responsive.css' %}">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
	
    </head>
	<body>
		
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
		
		<!--header-top start -->
		<header id="header-top" class="header-top" style="padding-left:30px;padding-right:70px;">
			<ul>
				<li>
					<div class="header-top-left">
						<ul>
							<li class="select-opt">
								<select name="language" id="language">
									<option value="default">EN</option>
									<option value="Bangla">BN</option>
									<option value="Arabic">AB</option>
								</select>
							</li>
						</ul>
					</div>
				</li>
				<li class="head-responsive-right pull-right">
					<div class="header-top-right">
						<ul>
							{% if user.is_authenticated %}
								<li class="header-top-contact">
									<a href="{% url 'listings:tenders' %}" class="sidebar-link"> <p>Dashboard</p> </a>
								</li>
								<li class="header-top-contact">						
								<form id="logout-form" method="post" action="{% url 'users:logout' %}" style="display: none;">
									{% csrf_token %}
								</form>
								<a href="#" class="sidebar-link" onclick="document.getElementById('logout-form').submit(); return false;"><p><i class="fa-solid fa-right-from-bracket pe-2"></i> Logout {{ user.username }} </p></a> 	
								</li>
							{% else %}
								<li class="header-top-contact">
									<p>+95 99 7778 2924</p>
								</li>
								<li class="header-top-contact">
									<a href="{% url 'frontend:login' %}"><p>sign in</p></a>
								</li>
								<li class="header-top-contact">
									<a href="{% url 'frontend:register' %}"><p>register</p></a>
								</li>
							{% endif %}
						</ul>
					</div>
				</li>
			</ul>
					
		</header><!--/.header-top-->
		<!--header-top end -->

		<!-- top-area Start -->
		<section class="top-area">
			<div class="header-area">
				<!-- Start Navigation -->
			    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

			        <div class="container">

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand" href="{% url 'frontend:index' %}">MYANMAR<span>TENDER</span></a>

			            </div><!--/.navbar-header-->
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
			                    <li><a href="{% url 'frontend:index'%}">Home</a></li>
			                    <li><a href="{% url 'frontend:tenders'%}">All Tenders</a></li>
			                    <li class="scroll"><a href="#blog">Blog</a></li>
			                    <li class="scroll"><a href="#contact">Contact</a></li>
			                </ul><!--/.nav -->
			            </div><!-- /.navbar-collapse -->
			        </div><!--/.container-->
			    </nav><!--/nav-->
			    <!-- End Navigation -->
			</div><!--/.header-area-->
		    <div class="clearfix"></div>

		</section><!-- /.top-area-->
		<!-- top-area End -->
		{% block content %}
		
		{% endblock %}
		<!--footer start-->
		<footer id="footer"  class="footer">
			<div class="container">
				<div class="footer-menu">
		           	<div class="row">
			           	<div class="col-sm-3">
			           		 <div class="navbar-header">
				                <a class="botnavbar" href="index.html">MYANMAR <span> TENDER</span></a>
				            </div><!--/.navbar-header-->
			           	</div>
			           	<div class="col-sm-9">
			           		<ul class="footer-menu-item">
			                    <li><a href="{% url 'frontend:index'%}">Home</a></li>
			                    <li><a href="{% url 'frontend:tenders'%}">All Tenders</a></li>
			                    <li class="scroll"><a href="#blog">Blog</a></li>
			                    <li class="scroll"><a href="#contact">Contact</a></li>
			                </ul><!--/.nav -->
			           	</div>
		           </div>
				</div>
				<div class="hm-footer-copyright">
					<div class="row">
						<div class="col-sm-5">
							<p>
								&copy; Copyright <script>document.write(new Date().getFullYear());</script> Divergent Graphic & Web Development
							</p><!--/p-->
						</div>
						<div class="col-sm-7">
							<div class="footer-social">
								<span><i class="fa fa-phone"> +95 99 7778 2924</i></span>
								<a href="#" class="favifb"><i class="fa-brands fa-facebook"></i></a>	
								<a href="#" class="favitt"><i class="fa-brands fa-twitter"></i></a>
								<a href="#" class="favili"><i class="fa-brands fa-linkedin"></i></a>
								<a href="#" class="favigp"><i class="fa-brands fa-google-plus-g"></i></a>
							</div>
						</div>
					</div>
					
				</div><!--/.hm-footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.footer-->
		<!--footer end-->
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="{% static 'frontend/js/jquery.js' %}"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
		
		<!-- bootsnav js -->
		<script src="{% static 'frontend/js/bootsnav.js' %}"></script>

        <!--feather.min.js-->
        <script  src="{% static 'frontend/js/feather.min.js' %}"></script>

        <!-- counter js -->
		<script src="{% static 'frontend/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'frontend/js/waypoints.min.js' %}"></script>

        <!--slick.min.js-->
        <script src="{% static 'frontend/js/slick.min.js' %}"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		     
        <!--Custom JS-->
        <script src="{% static 'frontend/js/custom.js' %}"></script>			
    </body>
	
</html>