<div class="col-md-4" style="margin-top:80px">
    <div class="single-explore-item">
        <div class="single-explore-txt bg-theme-1">
            <h2 class="explore-person"><a href="#">Search Form</a></h2>
        </div>
        <div class="single-explore-txt bg-theme-1">
            <form method="GET" action="{% url 'tender_list' %}">
                <div class="form-group">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
                <div class="form-group">
                    {{ form.company.label_tag }}
                    {{ form.company }}
                </div>
                <div class="form-group">
                    {{ form.ministry.label_tag }}
                    {{ form.ministry }}
                </div>
                <div class="form-group">
                    {{ form.department.label_tag }}
                    {{ form.department }}
                </div>
                <div class="form-group">
                    {{ form.fields.label_tag }}
                    {{ form.fields }}
                </div>
                <div class="form-group">
                    {{ form.tender_type.label_tag }}
                    {{ form.tender_type }}
                </div>
                <div class="form-group">
                    {{ form.regionstate.label_tag }}
                    {{ form.regionstate }}
                </div>
                <div class="form-group">
                    {{ form.city.label_tag }}
                    {{ form.city }}
                </div>
                    <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>